.packData {
    display:flex;
}
.packData:nth-child(n+4) {
    flex-direction: row-reverse;
}
.packData:nth-child(n+4) .containerData {
    flex-direction: row;
}
.packData:nth-child(n+4) .containerStatus label {
    display:none;
}

.containerData {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: calc(45px * var(--scale-mod));
    font-family: monospace;
    margin: 0 10px;
}
.containerName {
    height: calc(60px * var(--scale-mod));
    width:calc(120px * var(--scale-mod));
    font-size: calc(24px * var(--scale-mod));

}
.containerData input {
    text-align: center;
    margin:calc(20px * var(--scale-mod));
    border: none;
}
.pack {
    position:relative
}

.pack-background, .pack-items {
    display: flex;
    position: relative;
    align-items: center;
    place-self: center;
    margin: calc(20px * var(--scale-mod));
}
.pack-background {
    width: calc(400px * var(--scale-mod));
    height: calc(150px * var(--scale-mod));
    background-color: lightseagreen;
    justify-content: center;
    /*border: solid 2px black;*/
    /*display: flex;*/
    /*position: relative;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*place-self: center;*/
    /*margin: 20px;*/
}
.pack-items {
    position:absolute;
    top:calc(50px * var(--scale-mod));
    left:calc(55px * var(--scale-mod));
    justify-content: start;

    gap:calc(30px * var(--scale-mod));
    margin:0px;
    width: calc(330px * var(--scale-mod));
    height: calc(90px * var(--scale-mod))

}
.pack .join-bar-bg {
    width: 63.333%;
    height: calc(80px * var(--scale-mod));
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: right;

}
.pack .pack-segment-bg {
    height: calc(100px * var(--scale-mod));
    width: calc(100px * var(--scale-mod));
    background-color: white;
    margin-right: calc(20px * var(--scale-mod));
    display:flex;
}

.pack-segment-bg:last-child {
    margin-right: 0;
}
/*.draggable-item {*/
/*    width:90px;*/
/*    height:90px;*/
/*    background-color: red;*/
/*    z-index: 10*/
/*}*/

.containerStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.statusOption {
    display:flex;
    margin: calc(10px * var(--scale-mod)) 0;
}

.armorData {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: white;

    /*background-image:linear-gradient(to left bottom, transparent 50%, tan 50%);*/

}
.armorData--1, .armorData--2, .armorData--3 {
    flex-direction: column-reverse;
    background-color: #293132;
}
.armorData p {
    font-size: calc(16px * var(--scale-mod));
    background-color: white;
    clip-path: polygon(0px 0, 100% 0, calc(100% - 20px) 100%, 20px 100%);
    padding: calc(5px * var(--scale-mod)) calc(40px * var(--scale-mod));
    margin: 0;
    font-weight: bold;
    transform: translateY(calc(-1px * var(--scale-mod)));
}
.armorData--4, .armorData--5 p {
    background-color: darkgray;
}
.armorData--5, .armorData--6 p {
    background-color: lightgray;
}

.armorData--6  {
    background-color: tan;
}

.armorData:last-child {
    /*background-color: tan;*/

}
.slot-item--1,.slot-item--2,.slot-item--3 {
    /*z-index: 10*/
    text-wrap: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.slot-item--1 {
    background-color: red;
    width:calc(90px * var(--scale-mod));
    height: calc(90px * var(--scale-mod));
}
.slot-item--2 {
    background-color: green;
    width:calc(210px * var(--scale-mod));
    height: calc(90px * var(--scale-mod));
    /*margin:auto;*/
}
.slot-item--3 {
    background-color: blue;
    width:calc(330px * var(--scale-mod));
    height: calc(90px * var(--scale-mod));
    /*margin:auto;*/
}
.draggable-item {
    display: inline-block;
    position:relative;
    z-index:1;
}

.tooltip-active > * {
    background-color:purple !important;
    /* TODO: remove after testing */
}

/*FOR UNUSABLE SLOTS -> #FF4646 <- Imperial Red */